.button {
  background:white;
  border:solid 1px black;
  border-radius:0.5rem;
  padding:0.4rem;
  width:auto;
  font-size:1rem;
  margin:0.2rem;
  z-index:1000;
}

.activeButton {
  background:green;
}

.toolbar {
  width:auto;
  padding:1rem;
  margin:0;
  display:flex;
  justify-content:center;
  background-color:lightblue;
  flex-wrap:wrap;
}

.smartCanvas {
  position:absolute;
  z-index:999;
  border: solid 1px black;
  /*transition:top 1s,left 1s, width 1s;*/
  transition: 1s;
  top:0;
  left:0;
  width:200px;
  transform-origin: left top;
}

.pageContainer {
  height:100vh;
  width:100vw;
  padding:0;
  margin:0;
  overflow:hidden;
}